<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title><%=title%></title>
</head>
<body>
   <p>
      <a href="/login">登录</a>
   </p>

   <form action="/reg" method="POST">
      <p>
         <input name="username" type="text" placeholder="请输入用户名"/>
      </p>
      <p>
         <input name="password" type="password" placeholder="输入密码"/>
      </p>
      <input type="submit" value="提交"/>
   </form>
</body>
</html>